<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/create_survey.css' %}"/>
    <script src = "{% static 'js/displayQuestions.js' %}"> </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Survey Results </title>

  </head>

	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header">

            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'home' %}">View Surveys</a>
            <a class="navbar-brand active" href="{% url 'create_survey' %}">Create a Survey</a>
            <a class="navbar-brand" href="#" onclick="document.getElementById('logoutForm').submit()">Logout</a>
            <a class="navbar-brand">{{user.username}}</a>
            <form id ="logoutForm" method="POST" action = "{% url 'logout' %}">
            {% csrf_token %}
            <input type ="hidden">
            </form>

            {% else %}
            <a class="navbar-brand active" href="{% url 'signup' %}">Sign Up</a>
            <a class="navbar-brand active" href="{% url 'login' %}">Login</a>
            <a class="navbar-brand" href="{% url 'home' %}">View Surveys</a>
            <a class="navbar-brand active" href="{% url 'create_survey' %}">Create a Survey</a>
            
            {% endif %}
    		</div>
 
      		</div>
  		</div>
	</nav>
  <body>
 	<div class="container-fluid">
    <div class="jumbotron" style="background-color: #65AFFF">
      <h1 class = "text-center">Survey Added</h1>
    </div>

    <div id="parent">
    <div id="labels">
    
    


<form action="" method="post" >
      {% csrf_token %}
      <div class = "text-center">
        <h2>Survey Title: {{ obj.title }} </h2>
        <h4>Number of Questions: {{ obj.numOfQuestions }}
        </h4>
      </div>
      <hr>
      {% for question in questions.all %}
        <br>
        <h3 class = "text-center">Question {{ question.questionNumber }}. {{ question.questionLabel }}</h3>


        {% for answer in answers.all %}
          

          {% if answer.questionNumber == question.questionNumber %}
            {% if answer.questionType == "multiple" %}
            <div style="width:800px; margin:0 auto;">
              <br>
              <ul class = "text-left">
               <li>{{ answer.answerLabel }}</li>
              </ul>
            </div>
            {% endif %}

            {% if answer.questionType == "checkBox" %}
            <div style="width:800px; margin:0 auto;">
              <br>
              <ul class = "text-left">
               <li>{{ answer.answerLabel }}</li>
              </ul>
            </div>
            {% endif %}

            {% if answer.questionType == "date" %}
            <div style="width:800px; margin:0 auto;">
              <br>
              <ul class = "text-left">
               <li>Date Answer</li>
              </ul>
            </div>
            {% endif %}

            {% if answer.questionType == "time" %}
            <div style="width:800px; margin:0 auto;">
              <br>
              <ul class = "text-left">
               <li>Time Answer</li>
              </ul>
            </div>
            {% endif %}

            {% if answer.questionType == "text" %}
            <div style="width:800px; margin:0 auto;">
              <br>
              <ul class = "text-left">
               <li>Text Field for person completing this question</li>
              </ul>
            </div>
            {% endif %}

            {% if answer.questionType == "scale" %}
            {% ifchanged %}
            <div style="width:800px; margin:0 auto;">
              <br>
              <h4>Minimum Scale: {{ answer.scaleMinimum }}</h4>
              <h4>Maximum Scale: {{ answer.scaleMaximum }}</h4>
            </div>
            {% endifchanged %}
            {% endif %}

            {% if answer.questionType == "images" %}
            <div style="width:800px; margin:0 auto;">
            <div class="flexbox">
              <div class= "flexitem">
                <img src={{ answer.urlForImage}} class="img-rounded"> 
              </div>
            </div>
            <h4>Answer {{ answer.answerID }}</h4>
            </div>
            {% endif %}
            
          {% endif %}

        {% endfor %}
        <hr>
      {% endfor %}
      </div>
    </form>
    <!-- 
    <div id="controls">

     <form action="" method="post" >
      {% csrf_token %}
      <div class = "text-center">
        <h2>Survey Resutls</h2>
      </div>
      <hr>
      {% for question in questions.all %}
        <br>
        <br>
        <br>
        <br>
        <h3 class = "text-center">Question {{ question.questionNumber }}. {{ question.questionLabel }}</h3>


        <hr>
      {% endfor %}
      </div>
    </form>
          

    </div> -->

    </div>
  </div>




	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>


